<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

  <div th:fragment="header">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="https://store-images.s-microsoft.com/image/apps.3179.13899725065627034.cde70839-621b-4895-8adf-f523b0117ad5.abc02c28-8d42-4aa4-b4d7-1c63ffe3992e?mode=scale&q=90&h=300&w=300"
            width="30" height="30" class="d-inline-block align-top" alt="">
          Notes
        </a>
        <div class="d-inline-flex p-2">
        <a href="/noteform" class="btn btn-secondary m-1">New Note</a>
        <form th:action="@{/logout}" method="post">
          <input  class="btn btn-primary m-1" type="submit" value="logout">
      </form>
    </div>
      </div>
    </nav>
  </div>

</body>

</html>